[submodule "time-bank-api-spec"]
	path = time-bank-api-spec
	url = https://github.com/Metatavu/time-bank-api-spec
[submodule "home-lambdas-API-spec"]
	path = home-lambdas-API-spec
	url = https://github.com/Metatavu/home-lambdas-API-spec
